body {
  margin: 0;
  padding: 0;
  color: #fffceb;
  height: 118vh;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to top, #3A6073, #16222A);
}

button {
  cursor: pointer;
}


/* #root > div > div:nth-child(5) > div {
  margin-top: 10px;
  margin-bottom: 20px;
}  */





/*

 body {
  margin: 0;
  color: #fffceb;
  font-family:'Courier New', Courier, monospace;
   height: 100vh; 
   background-repeat: no-repeat;
  background-attachment: fixed;
  background: #16222A;  fallback for old browsers;
 /* background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);  Chrome 10-25, Safari 5.1-6  */ 
  background: linear-gradient(to top, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
  
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
 }

button {
  cursor: pointer;
  color: #113648;
  font-weight: 700;
}

#root > div > div:nth-child(5) > div {
  margin-top: 10px;
  margin-bottom: 90px;
}  

*/